.links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 98.5%;
}

.links li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #04AA6D;
  
}

@media screen and (max-width: 768px) {
  .links {
    /* Adjust navigation styles for smaller screens */
    display: flex-start;
    flex-direction: column;
    width: 98.5%;
  }

  .links li {
    /* Add padding and styles to navigation items */
    padding: 10px;
  }

  .sectionportfolio {
    /* Adjust padding and margin for smaller screens */
    padding: 10px;
    margin-top: 10px;
  }

  /* Additional responsive styles as needed */
}
